language: julia

sudo: false

os:
  - linux
  - osx

julia:
  - 1.0
  - 1.1
  - nightly

notifications:
  email: false

after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("FlatBuffers")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
  - julia --project=docs/ -e 'using Pkg; Pkg.instantiate();
                                    Pkg.develop(PackageSpec(path=pwd()))'
  - julia --project=docs/ docs/make.jl
